.title {
  font-size: rem(26px);
  font-weight: 900;
  font-family: Greycliff CF, var(--mantine-font-family);
}

.controls {
  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column-reverse;
  }
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    width: 100%;
    text-align: center;
  }
}

.background {
  height: 100%;
  width: 100%;
  min-height: calc(100vh - 84px);
  align-content: center;
  background-color: #8acdd7;
}

.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-weight: 900;
  color: #e6757d;
}

.buttonText {
  color: #ffebb2;
}
