.container {
  height: 85vh;
  display: flex;
  align-items: center;
  position: relative;
}

.left {
  width: 55%;
  height: 50%;
}

.artImg {
  width: auto;
  height: auto;
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.artistImg {
  --image-radius: rem(100);
}

.details {
  width: 100%;
  padding: rem(10);
  background-color: light-dark(white, gray);
  color: light-dark(black, black);
  border-radius: 2%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.link {
  text-decoration: none;
  color: black;
}

.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-weight: 900;
  color: light-dark(#e6757d, #ffebb2);
}

.background {
  min-height: 100vh;
}
